 ------
 Filtering a source folder
 ------
 Baptiste Mathus
 ------
 2013-01-27
 ------

~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

~~ NOTE: For help with the syntax of this file, see:
~~ http://maven.apache.org/doxia/references/apt-format.html

Filtering a source folder

 The Templating Plugin <<filter-sources>> goal lets you filter a dedicated source folder.
 In one pass, it filters that folder and add the resulting filtered folder to the POM model
 as a source folder.

 If, for example, you have some of your code where you would like to reference properties coming
 from the POM, you want to put those classes inside the <<<sourceDirectory>>> tag.

 <<<Please note that filtering the standard src/main/java folder is not supported.>>>

+-----+
<project>
...
  <build>
    <plugins>
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>templating-maven-plugin</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <goals>
              <goal>filter-sources</goal>
            </goals>
	        <configuration>              
	          <!-- 
	            Note the two following parameters are the default one. 
	            These are specified here just as a reminder. 
	            But as the Maven philosophy is strongly about conventions, 
	            it's better to just not specify them.
	          -->
	          <sourceDirectory>${basedir}/src/main/java-templates</sourceDirectory>
	          <targetDirectory>\${project.build.directory}/generated-sources/java-templates</targetDirectory>
	        </configuration>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>

</project>
+-----+
